/*######## Smart Green ########*/
/*######## Smart Green ########*/
.studio-app {
    margin-left:auto;
    margin-right:auto;
    overflow: auto;
    max-width: 60%;
    background: #F8F8F8;
    padding: 15px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #666;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.studio-app h1 {
    font: 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 20px 0px 20px 40px;
    display: block;
    margin: -30px -30px 10px -30px;
    color: #FFF;
    background: #FFAC63;
    text-shadow: 1px 1px 1px #949494;
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-bottom:1px solid #0099cb;

}
.studio-app h1>span {
    display: block;
    font-size: 11px;
    color: #FFF;
}

.studio-app label {
    display: inline-block;
    margin-bottom: .5rem;
    font-weight:bold;
    font-size:1.1em;
}
.studio-app1 label+input{
    display: inline-block;
}
studio-app label>span {
    float: left;
    margin-top: 10px;
    color: #5E5E5E;
}
.studio-app input[type="text"], .studio-app input[type="email"], .studio-app textarea, .studio-app select {
    display: block;
    width: 99%;
    height: calc(1.2em + .75rem + 2px);
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-indent: 0.5em;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.studio-app .button {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-border-radius: 5px;
    padding: 10px 25px 10px 25px;
    text-shadow: 1px 1px 1px #949494;
}

.button-holder{
    float:right;
    padding:5px;
    clear:both;
}
.form{
    overflow: auto;
}
.form-row{
    clear:both;
    margin: 0px 0px 3%;
    overflow:auto;
}
.button-default{
    background-color: #FFF !important;
    color: #32485B !important;
    border:1px solid #32485B !important;
}
.button-default:hover {
    background-color: #FFF;
    border-color: #02A2D8;
    color: #02A2D8;
}
.button-primary{
    background-color: #F1780E;
    border-color: #A64E00;
    color: #FFF;
}
.button-primary:hover {
    background-color: #FFAC63;
    border-color: #F1780E;
}
input[type="text"]:hover,textarea:hover{
    border: 1px solid #0099cb;
}

label>textarea,label > input[type="text"],label > select,input[type="text"]{
    width: 80%;
    border-radius: 5px;
}

.studio-app #intents input{
    margin: 0.5em 0.5em 0 0;
    float: left;
    width: 92%;
}
#inputs_div .inputs-container>input {
    width: 45%;
    margin: 0.5em 0.5em 0 0;
    float: left;
}
i.fa{
    font-size: 2.2em;
    margin: 0.5em 0 0 0.2em;
    cursor: pointer;
    vertical-align: middle;
    float: left;
color:rgb(0, 153, 203);
}
.fa-inline{
    margin-left:4px !important;
}
.col, [class*=col-] {
    padding-right: 5px;
    padding-left: 5px;
}
.col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.col-md-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
}
.col-md-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
}
.col-md-5{
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}
.col-md-6{
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.inputs-container{
    overflow:auto;
}
.btn{
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-primary{
    background-color:rgb(0, 153, 203);
}
.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}


.card{
    float: left;
    width: 40%;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    background-color: #eee;
    border-left: 2px solid #f8971d;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.card > span{
    display:block;
    font-weight: bold;
    margin: 0.5em 1em;
}
.card > span span{
    font-weight: normal;
    margin-left: 0.5em;
}
h1 p{
    margin:0;padding:0;
    margin-top: 7px;
}
.logo{
    width: 80px;
    position: absolute;
    left: -18px;
    top: -12px;
    display: inline-block;
    height: 80px;
}
img+p{
    display: inline-block;
    margin-left: 20px;
}
.studio-app{
    position:relative;
}